.feed {
	@column-count: 4;
	overflow: auto;
	-webkit-column-count: @column-count;
    -moz-column-count: @column-count;
    column-count: @column-count;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
	font-size: 0;
    padding: 5px;

	&__photo {
		padding: 5px;
		box-sizing: border-box;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		img {
			width: 100%;
			height: auto;
		}
	}
}
